* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: rgb(255, 255, 255);
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(139, 69, 19);
  --surface-color: rgba(12, 163, 55, 0.184);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.3);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg); /* imagem mobile */
  --stroke-color: rgb(139, 69, 19);
  --surface-color: rgba(12, 163, 55, 0.184);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.3);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}
body * {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0;
  padding: 0 24px;
}

/* profile */
#avatar img {
  width: 112px;
}
#avatar p {
  font-weight: 500;
  line-height: 24px;
}

#avatar {
  text-align: center;
  padding: 24px;
}
/* switch */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: rgb(255, 255, 255) var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: retorno 0.2s;
  transition: outline 0.3s ease, transform 0.3s ease;
}
.light #switch button {
  animation: fluedez 0.2s forwards;
}

#switch button:hover {
  outline: 12px solid var(--highlight-color);
  border-radius: 50%;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;

  background: var(--surface-color);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 34px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 10px;
  box-shadow: 0 4px 1px rgba(92, 71, 71, 0.809);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  text-decoration: none;
  transition: background 0.2s, transform 0.2s ease;

  color: var(--text-color);

  outline: none;
}

ul li a:hover {
  transform: translateY(-4px);
  border: 1px solid #555;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

ul li a:focus {
  outline: none;
  border: 2px solid var(--highlight-color);
  box-shadow: 0 0 8px var(--highlight-color);
}

ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--highlight-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Social links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 34px;
  border-radius: 50%;
  transition: transform 0.3s ease, background 0.3s ease, border-radius 0.3s ease;
}

#social-links a:hover {
  background: var(--highlight-color);
  transform: scale(0.6);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -35px;
}

ul li a:focus {
  outline: 2px solid var(--text-color);
  outline-offset: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

#video-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg); /*  imagem desktop */
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg); /* imagem light desktop */
  }
}

/* Animações */
@keyframes fluedez {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes retorno {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}


.press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}


/* Neve no background */

body {
  background-color: #282c34;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.snowflake {
  position: absolute;
  top: -10px;
  color: white;
  font-size: 2px;
  opacity: 0.7;
  pointer-events: none;
  animation: fall linear infinite;
  z-index: -1;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}


